
.filter__main-block {
    width: 300px;
}
.filter__checkbox {
    width: 20px;
    margin: 0;
}
.filter__search-input {
    width: 270px;
}

.filter__words-box {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    background: #999;
    overflow-y: scroll;
}