.edit-card__wrapper {
    box-sizing: border-box;
    width: 100%;
    background: lightgrey;
    height: 500px;
    padding: 10px;
}
.edit-card__wrapper label {
    display: inline-block;
    width: 85px;
    text-align: right;
}
.edit-card__wrapper input {
    line-height: 20px;
    margin: 2px;
}
.edit-card__wrapper textarea {
    box-sizing: border-box;
    margin: 2px;
    width: 100%;
    min-height: 55px;
    max-height: 130px;
    resize: vertical;
}
.edit-card__error-text {
    color: red;
}