.product__wrapper {
    display: flex;
    justify-content: space-between;
    background: #ddd;
    margin-bottom: 5px;
}
.product__img {
    height: 60px;
    margin: 5px;
}
.product__info {
    display: flex;
    justify-content: flex-start;
}
.product__text {
    align-self: center;
}
.selected {
    background: darkslategrey;
    color: white;
}
.product__buttons-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}
.product__delete-button {
    width: 100%;
    align-self: center;
}