body {
    margin: 0;
    padding: 0;
}
.shop__wrapper {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 368px auto;
    grid-template-rows: auto auto;
}
.shop__header {
    grid-area: 1/1/1/3;
    font-size: 30px;
    text-align: center;
}
.shop__sidebar {
    grid-area: 2/1/2/2;
}
.shop__info-card {
    grid-area: 2/2/2/2;
}
.shop__prod-list {
    height: 470px;
    overflow-y: scroll;
}
.shop__sidebar-button {
    margin: 5px;
    height: 25px;
}.product__wrapper {
    display: flex;
    justify-content: space-between;
    background: #ddd;
    margin-bottom: 5px;
}
.product__img {
    height: 60px;
    margin: 5px;
}
.product__info {
    display: flex;
    justify-content: flex-start;
}
.product__text {
    align-self: center;
}
.selected {
    background: darkslategrey;
    color: white;
}
.product__buttons-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}
.product__delete-button {
    width: 100%;
    align-self: center;
}.info-card__wrapper {
    box-sizing: border-box;
    width: 100%;
    background: lightgrey;
    height: 500px;
    padding: 10px;
}
.info-card__img {
    box-sizing: border-box;
    height: 150px;
    max-width: 350px;
    padding: 0 10px;
}
.info-card__name {
    margin: 0;
}.edit-card__wrapper {
    box-sizing: border-box;
    width: 100%;
    background: lightgrey;
    height: 500px;
    padding: 10px;
}
.edit-card__wrapper label {
    display: inline-block;
    width: 85px;
    text-align: right;
}
.edit-card__wrapper input {
    line-height: 20px;
    margin: 2px;
}
.edit-card__wrapper textarea {
    box-sizing: border-box;
    margin: 2px;
    width: 100%;
    min-height: 55px;
    max-height: 130px;
    resize: vertical;
}
.edit-card__error-text {
    color: red;
}