.goods__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.goods__block {
    width: 300px;
    margin: 5px;
    padding: 5px;
    background: #AAA;
}
.goods__block:hover {
    background: #EEEEEE;
    outline: 1px solid black;
}
.goods__img {
    width: 100px;
    float: left;
    margin-right: 15px;
}
.goods__name,
.goods__quantity,
.goods__price {
    display: block;
    width: 100%;
}
.goods__name {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}
.goods__price {
    font-size: 26px;
    text-align: right;
    color: darkolivegreen;
}